*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section{
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1576872381149-7847515ce5d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8Ym9va3xlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
    background-size: cover;
    background-position: center;
}
section nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 10px #089;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 100;
}
section nav .logo img{
    width: 100px;
    cursor: pointer;
    margin: 8px 0;
}
section nav ul{
    list-style: none;
}
section nav li{
    display: inline-block;
    padding: 0 10px;
}
section nav li a{
    text-decoration: none;
    color: #000;
}
section nav li a:hover{
    color: #089;
}
section nav .social-icon i{
    margin: 0 5px;
    font-size: 18px;
}
section nav .social-icon i:hover{
    color: #089;
    cursor: pointer;
}
section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
}
section .main h1{
    position: relative;
    font-size: 40px;
    top: 80px;
    left: 25px;
}
section .main h1 span{
    color: #089;
}
section .main p{
    width: 650px;
    text-align: justify;
    line-height: 22px;
    position: relative;
    top: 125px;
    left: 25px;
}
section .main .main_tag .main_btn{
    background: #089;
    padding: 10px 20px;
    position: relative;
    top: 200px;
    left: 25px;
    color: #fff;
    text-decoration: none;
}
section .main .main_tag .main_btn:hover{
    background-color: rgb(7, 92, 92);
    border-radius: 10px;
    transition: .3s;
}
.services{
    width: 100%;
    height: auto;
    margin: 50px 0;
}
.services .services_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.services .services_box .services_card{
    text-align: center;
    width: 310px;
    height: auto;
    box-shadow: 0 0 8px #089;
    padding: 15px 10px;
    margin-left: 25px;
}
.services .services_box .services_card i{
    color: #089;
    font-size: 45px;
    margin-bottom: 15px;
    cursor: pointer;
}
.services .services_box .services_card h3{
    margin-bottom: 10px;
}
.services .services_box .services_card p:hover{
    color: rgb(107, 214, 228);
    transition: .3s;
}
.about{
    width: 100%;
    margin: 100px 0;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about .about_image img{
    width: 500px;
}
.about .about_tag h1{
    font-size: 50px;
    position: relative;
    bottom: 35px;
}
.about .about_tag p{
    line-height: 22px;
    width: 650px;
    text-align: justify;
    margin-bottom: 15px;
}
.about .about_tag .about_btn{
    padding: 10px 20px;
    background: #089;
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 50px;
}
.about .about_tag .about_btn:hover{
    background-color: rgb(7, 92, 92);
    border-radius: 10px;
    transition: .3s;
}
.featured_books{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}
.featured_books h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
}
.featured_books .featured_book_box{
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}
.featured_books .featured_book_box .featured_book_card{
    width: 250px;
    height: 370px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}
.featured_books .featured_book_box .featured_book_card:hover{
    box-shadow: 0 0 5px #089;
}
.featured_books .featured_book_box .featured_book_card .featured_book_img img{
    width: 150px;
    height: 28vh;
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag h2{
    margin: 10px;
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag .writer{
    color: #919191;
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag .categories{
    color: #089;
    margin-top: 8px;
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag .book_price{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 10px;
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag .book_price sub{
    font-weight: 100;
    padding: 0 5px;
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag .f_btn{
    padding: 8px 20px;
    border: 2px solid #089;
    text-decoration: none;
    color: #000;
}
.featured_books .featured_book_box .featured_book_card .featured_book_tag .f_btn:hover{
    background-color: rgb(7, 92, 92);
    border-radius: 10px;
    transition: .3s;
}
::-webkit-scrollbar{
    width: 10px;
    height: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb{
    background-color: #089;
    border-radius: 10px;
}
.reviews{
    width: 100%;
    height: auto;
}
.reviews h1{
    text-align: center;
    font-size: 50px;
    margin-top: 55px;
}
.reviews .review_box{
    width: 95%;
    height: 50vh;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews .review_box .review_card{
    width: 400px;
    height: 300px;
    box-shadow: 0 0 8px #089;
    padding: 15px;
    margin: 0 12px;
}
.reviews .review_box .review_card i{
    float: right;
    font-size: 120px;
    position: relative;
    bottom: 20px;
    color: #eaeaea;
}
.reviews .review_box .review_card .card_top img{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.reviews .review_box .review_card .card p{
    margin: 10px 0 10px 0;
    text-align: justify;
    line-height: 22px;
}
.reviews .review_box .review_card .card .review_icon i{
    font-size: 16px;
    float: left;
    margin-top: 20px;
    color: #089;
    padding: 0 1px;
}


.banner{
    width: 100%;
    height: 50vh;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/294/880/original/reading-book-web-banner-design-student-reading-book-on-stack-of-book-to-get-inspiration-online-education-digital-classroom-e-learning-concept-header-or-footer-banner-free-vector.jpg);
    background-size: cover;
    background-position: center;
}
.banner .banner_btn{
    padding: 8px 20px;
    background: #089;
    text-decoration: none;
    color: #fff;
    position: relative;
    top: 70%;
    left: 7%;
}
.banner .banner_btn:hover{
    background-color: rgb(7, 92, 92);
    border-radius: 10px;
    transition: .3s;
}


footer{
    width: 100%;
    background: #eaeaea;
}
footer .footer_main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer .footer_main .tag{
    margin: 10px 0;
}
footer .footer_main .tag img{
    width: 100px;
    margin-bottom: 10px;
}
footer .footer_main .tag p{
    width: 250px;
    line-height: 22px;
    text-align: justify;
}
footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #000;
}
footer .footer_main .tag a{
    display: block;
    color: #000;
    text-decoration: none;
    margin: 10px 0;
}
footer .footer_main .tag i{
    margin-right: 10px;
}
footer .footer_main .tag .social_link i{
    margin: 0 5px;
}
footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgba(202, 202, 202);
    border-radius: 25px;
}
footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    outline: none;
    font-size: 13px;
    background: none;
}
footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: #089;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}
footer .footer_main .tag .search_bar button:hover{
    background-color: rgb(7, 92, 92);
    border-radius: 10px;
    transition: .3s;
}
footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #000;
}
footer .end span{
    color: #089;
    margin-left: 10px;
}


